In [39]:
import pandas as pd
from datetime import datetime

In [2]:
# Read CSV from Datos Abiertos
df = pd.read_csv("https://archivo.datos.cdmx.gob.mx/FGJ/victimas/victimasFGJ_2024.csv")

In [3]:
# Check shape
df.shape

(19732, 22)

In [47]:
# General info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19732 entries, 0 to 19731
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   anio_inicio        19732 non-null  int64
 1   mes_inicio         19732 non-null  object
 2   fecha_inicio       19732 non-null  object
 3   hora_inicio        19732 non-null  object
 4   anio_hecho         19732 non-null  int64
 5   mes_hecho          19732 non-null  object
 6   fecha_hecho        19732 non-null  object
 7   hora_hecho         19732 non-null  object
 8   delito             19732 non-null  object
 9   categoria_delito   19732 non-null  object
 10  sexo               19732 non-null  object
 11  edad               13732 non-null  float64
 12  tipo_persona       19685 non-null  object
 13  calidad_juridica   19732 non-null  object
 14  competencia        19732 non-null  object
 15  colonia_hecho      18343 non-null  object
 16  colonia_catalogo   18103 non-null  object
 17  alcaldia_hecho     19616 non-null  object
 18  alcaldia_catalogo  19376 non-null  object
 19  municipio_hecho    19616 non-null  object
 20  latitud            18345 non-null  float64
 21  longitud           18345 non-null  float64
 22  dt_inicio          19732 non-null  datetime64[ns]
 23  dt_hecho           19732 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(2), object(17)
memory usage: 3.6+ MB

In [5]:
# List columns
df.columns

Index(['anio_inicio', 'mes_inicio', 'fecha_inicio', 'hora_inicio',
       'anio_hecho', 'mes_hecho', 'fecha_hecho', 'hora_hecho', 'delito',
       'categoria_delito', 'sexo', 'edad', 'tipo_persona', 'calidad_juridica',
       'competencia', 'colonia_hecho', 'colonia_catalogo', 'alcaldia_hecho',
       'alcaldia_catalogo', 'municipio_hecho', 'latitud', 'longitud'],
      dtype='object')

In [6]:
# Sampling
df.sample(7)

,anio_inicio,mes_inicio,fecha_inicio,hora_inicio,anio_hecho,mes_hecho,fecha_hecho,hora_hecho,delito,categoria_delito,...,tipo_persona,calidad_juridica,competencia,colonia_hecho,colonia_catalogo,alcaldia_hecho,alcaldia_catalogo,municipio_hecho,latitud,longitud
19655,2024,Enero,2024-01-31,22:11:00,2024,Enero,2024-01-31,19:20:00,TENTATIVA DE EXTORSION,DELITO DE BAJO IMPACTO,...,FISICA,DENUNCIANTE Y VICTIMA,FUERO COMUN,CENTRAL DE ABASTO,Central De Abasto,IZTAPALAPA,Iztapalapa,CDMX,19.369687,-99.090112
15656,2024,Enero,2024-01-25,21:57:00,2024,Enero,2024-01-25,20:35:00,"NARCOMENUDEO POSESIÓN CON FINES DE VENTA, COME...",DELITO DE BAJO IMPACTO,...,MORAL,OFENDIDO,FUERO COMUN,GUERRERO,Guerrero,CUAUHTEMOC,Cuauhtémoc,CDMX,19.442431,-99.145749
8928,2024,Enero,2024-01-16,01:59:00,2023,Noviembre,2023-11-29,12:40:00,LA ADMINISTRACION DE JUSTICIA,DELITO DE BAJO IMPACTO,...,MORAL,OFENDIDO,INCOMPETENCIA,NaN,NaN,FUERA DE CDMX,Fuera de CDMX,CUAUTLA,NaN,NaN
3252,2024,Enero,2024-01-06,23:38:00,2023,Septiembre,2023-09-10,09:00:00,DESPOJO,DELITO DE BAJO IMPACTO,...,FISICA,DENUNCIANTE Y VICTIMA,FUERO COMUN,GENERAL IGNACIO ZARAGOZA,General Ignacio Zaragoza,VENUSTIANO CARRANZA,Venustiano Carranza,CDMX,19.411798,-99.094974
8840,2024,Enero,2024-01-15,22:42:00,2024,Enero,2024-01-15,21:20:00,ROBO A NEGOCIO SIN VIOLENCIA POR FARDEROS (TIE...,DELITO DE BAJO IMPACTO,...,MORAL,OFENDIDO,FUERO COMUN,JARDÍN BALBUENA,Jardin Balbuena,VENUSTIANO CARRANZA,Venustiano Carranza,CDMX,19.418087,-99.105730
19115,2024,Enero,2024-01-31,11:04:00,2024,Enero,2024-01-25,23:16:00,DAÑO EN PROPIEDAD AJENA INTENCIONAL A AUTOMOVIL,DELITO DE BAJO IMPACTO,...,FISICA,DENUNCIANTE Y VICTIMA,FUERO COMUN,DEL VALLE CENTRO,Del Valle Centro,BENITO JUAREZ,Benito Juárez,CDMX,19.383046,-99.166561
12230,2024,Enero,2024-01-20,18:53:00,2024,Enero,2024-01-20,01:03:00,ROBO DE MOTOCICLETA SIN VIOLENCIA,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,...,FISICA,DENUNCIANTE Y VICTIMA,FUERO COMUN,5O TRAMO 20 DE NOVIEMBRE,5to Tramo 20 De Noviembre,VENUSTIANO CARRANZA,Venustiano Carranza,CDMX,19.450788,-99.105830

In [15]:
# Select only: anio_inicio, mes_inicio, fecha_inicio, hora_inicio , anio_hecho, mes_hecho fecha_hecho hora_hecho
df[['anio_inicio', 'mes_inicio', 'fecha_inicio', 'hora_inicio', 'anio_hecho', 'mes_hecho', 'fecha_hecho', 'hora_hecho']].head()

,anio_inicio,mes_inicio,fecha_inicio,hora_inicio,anio_hecho,mes_hecho,fecha_hecho,hora_hecho
0,2024,Enero,2024-01-01,00:20:00,2024,Enero,2024-01-01,00:20:00
1,2024,Enero,2024-01-01,00:38:00,2023,Diciembre,2023-12-31,23:09:00
2,2024,Enero,2024-01-01,01:02:00,2023,Diciembre,2023-12-31,17:50:00
3,2024,Enero,2024-01-01,01:12:00,2023,Diciembre,2023-12-28,21:45:00
4,2024,Enero,2024-01-01,01:14:00,2023,Diciembre,2023-12-31,23:00:00

> Ok, we can join fecha_inicio + hora inicio and create datetime, also fecha_hecho + hora_hecho

In [18]:
df[(df.fecha_inicio.notnull()) & (df.hora_inicio.notnull())][['fecha_inicio', 'hora_inicio']]

      fecha_inicio hora_inicio
0       2024-01-01    00:20:00
1       2024-01-01    00:38:00
2       2024-01-01    01:02:00
3       2024-01-01    01:12:00
4       2024-01-01    01:14:00
...            ...         ...
19727   2024-01-31    23:54:00
19728   2024-01-31    23:56:00
19729   2024-01-31    23:56:00
19730   2024-01-31    23:58:00
19731   2024-01-31    23:59:00

[19732 rows x 2 columns]

In [41]:
# Create datetime: dt_inicio
df['dt_inicio'] = df[(df.fecha_inicio.notnull()) & (df.hora_inicio.notnull())][['fecha_inicio', 'hora_inicio']].apply(lambda row: datetime.strptime(f"{row.fecha_inicio} {row.hora_inicio}", "%Y-%m-%d %H:%M:%S"), axis=1)

In [42]:
# Create datetime: dt_hecho
df['dt_hecho'] = df[(df.fecha_hecho.notnull()) & (df.hora_hecho.notnull())][['fecha_hecho', 'hora_hecho']].apply(lambda row: datetime.strptime(f"{row.fecha_hecho} {row.hora_hecho}", "%Y-%m-%d %H:%M:%S"), axis=1)

In [43]:
df[['dt_inicio', 'dt_hecho']].head()

            dt_inicio            dt_hecho
0 2024-01-01 00:20:00 2024-01-01 00:20:00
1 2024-01-01 00:38:00 2023-12-31 23:09:00
2 2024-01-01 01:02:00 2023-12-31 17:50:00
3 2024-01-01 01:12:00 2023-12-28 21:45:00
4 2024-01-01 01:14:00 2023-12-31 23:00:00

In [44]:
# check sexo varible

df['sexo'].unique()

array(['Masculino', 'Femenino', nan], dtype=object)

In [45]:
# fill na with 'No especifico'
df['sexo'].fillna('No especifico', inplace=True)

C:\Users\kiramishima\AppData\Local\Temp\ipykernel_34940\115545931.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sexo'].fillna('No especifico', inplace=True)

In [46]:
df['sexo'].unique()

array(['Masculino', 'Femenino', 'No especifico'], dtype=object)

In [48]:
# check tipo_persona
df['tipo_persona'].unique()

array(['FISICA', 'MORAL', nan], dtype=object)

In [65]:
# check tipo_persona
df[df['tipo_persona'].isna()]['tipo_persona'].unique()

array([nan], dtype=object)

In [64]:
# check tipo_persona
df[df['edad'].isna()]['edad'].unique()

array([nan])

In [63]:
df[df['colonia_hecho'].isna()]['colonia_hecho'].unique()

array([nan], dtype=object)

In [53]:
df[df.colonia_catalogo.isna()]['colonia_catalogo'].unique()

array([nan], dtype=object)

In [62]:
df[df['alcaldia_hecho'].isna()]['alcaldia_hecho'].unique()

array([nan], dtype=object)

In [61]:
df[df['alcaldia_catalogo'].isna()]['alcaldia_catalogo'].unique()

array([nan], dtype=object)

In [60]:
df[df['alcaldia_catalogo'].isna()]['alcaldia_catalogo'].unique()

array([nan], dtype=object)

In [59]:
df[df['municipio_hecho'].isna()]['municipio_hecho'].unique()

array([nan], dtype=object)

In [66]:
df.drop(columns=['anio_inicio', 'mes_inicio', 'fecha_inicio', 'hora_inicio', 'anio_hecho', 'mes_hecho', 'fecha_hecho', 'hora_hecho', 'latitud', 'longitud'], inplace=True)

In [77]:
df['delito'].fillna('No especifico', inplace=True)
df['categoria_delito'].fillna('No especifico', inplace=True)
df['sexo'].fillna('No especifico', inplace=True)
df['tipo_persona'].fillna('No especifico', inplace=True)
df['calidad_juridica'].fillna('No especifico', inplace=True)
df['competencia'].fillna('No especifico', inplace=True)
df['colonia_hecho'].fillna('No especifico', inplace=True)
df['colonia_catalogo'].fillna('No especifico', inplace=True)
df['alcaldia_hecho'].fillna('No especifico', inplace=True)
df['alcaldia_catalogo'].fillna('No especifico', inplace=True)
df['municipio_hecho'].fillna('No especifico', inplace=True)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19732 entries, 0 to 19731
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   delito             19732 non-null  object
 1   categoria_delito   19732 non-null  object
 2   sexo               19732 non-null  object
 3   edad               13732 non-null  float64
 4   tipo_persona       19732 non-null  object
 5   calidad_juridica   19732 non-null  object
 6   competencia        19732 non-null  object
 7   colonia_hecho      19732 non-null  object
 8   colonia_catalogo   19732 non-null  object
 9   alcaldia_hecho     19732 non-null  object
 10  alcaldia_catalogo  19732 non-null  object
 11  municipio_hecho    19732 non-null  object
 12  latitud            18345 non-null  float64
 13  longitud           18345 non-null  float64
 14  dt_inicio          19732 non-null  datetime64[ns]
 15  dt_hecho           19732 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), object(11)
memory usage: 2.4+ MB